@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Roboto', sans-serif; 
    background: url(space.jpg) no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}

nav{
    background: #3b4c5ad8;
    height: 80px;
    width: 100%;  
    font-weight: bold;  
}


label.logo img{    
    line-height: 80px;    
    padding: 22px 100px;     
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;    
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase; 
}


a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer; 
    display: none;   
}

#check{
    display: none;
}

@media (max-width: 858px){
    label.logo img{
        display: block;
        transform: scale(0.8);     
               
    } 


    .checkbtn{
        display: block;
    }

    nav ul li {
        display: block; 
        margin: 50px 0;
        line-height: 30px;     
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;       
        text-align: center;
        transition: all .5s;
    }

    nav ul li a {
        font-size: 14px;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;

    }
}

@media (max-width: 458px){
    label.logo img{
        display: block;
        transform: scale(0.7);  
        padding: 22px;   
               
    } 
}

@media (max-width: 280px){
    label.logo img{
        display: none;          
    } 
}

/*==================================cards=======================*/

.testimonials{
    margin: 100px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap:20px;
}

.testimonials .card{
    position: relative;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);   
    overflow: hidden;
    
}

.testimonials .card .layer{
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4,#e91ee3);
    z-index: 1;
    transition: 0.5s;
}

.testimonials .card:hover .layer{
    top:0
}

.testimonials .card .content{
    position: relative;
    z-index: 2;
    
}

.testimonials .card .content span{
    line-height: 80px;
    color: #fff;
   
}

.testimonials .card .content .image{
    padding-bottom: 50px;
}

.testimonials .card .content .details h2{
    font-size: 14px;
    color: rgba(211, 204, 204, 0.541);
}

.testimonials .card:hover .content .details h2{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.562);
}

.testimonials .card .content .details h2 strong{
    font-size: 14px;
    color: rgb(105, 104, 117);
}

.testimonials .card:hover .content .details h2 strong{
    font-size: 14px;
    color: rgb(255, 255, 255);
}





