{% extends "layout.html" %} {% block content %}

<div id="wrapper">
    <h1>Aulas</h1>
</div>

<section class="cards">
    <div class="card" id="">
        <div class="card__image-container">
            <img src="" alt="" />
            <div class="card__content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Placeat a iure, corporis repellat voluptas officiis
                    voluptates. Dolores soluta vel repellat nemo dicta obcaecati
                    laudantium sunt tenetur quasi, repudiandae, enim recusandae.
                </p>
                <div class="card__info">
                    <p>57 min</p>
                    <p class="card__price">Free</p>
                </div>
            </div>
        </div>
    </div>
</section>

{ % endblock % }
