{% extends "layout.njk" %}
{% block head %}

    <title>Vídeos Legais</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        <div class="card" id="6wn8hpUcEcM">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/6wn8hpUcEcM/hqdefault.jpg" alt=""/>
            </div>
            <div class="card__content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a iure, corporis repellat voluptas officiis voluptates. Dolores soluta vel repellat nemo dicta obcaecati laudantium sunt tenetur quasi, repudiandae, enim recusandae.
                </p>
            </div>
            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="JzQuJSJoPeM">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/JzQuJSJoPeM/hqdefault.jpg" alt=""/>
            </div>
            <div class="card__content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a iure, corporis repellat voluptas officiis voluptates. Dolores soluta vel repellat nemo dicta obcaecati laudantium sunt tenetur quasi, repudiandae, enim recusandae.
                </p>
            </div>
            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="EhnXaybirdA">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/EhnXaybirdA/hqdefault.jpg" alt=""/>
            </div>
            <div class="card__content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a iure, corporis repellat voluptas officiis voluptates. Dolores soluta vel repellat nemo dicta obcaecati laudantium sunt tenetur quasi, repudiandae, enim recusandae.
                </p>
            </div>
            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}