{% extends "layout.njk" %}

{% block content %}

    <div class="banner">
        <div class="banner-content">
            <h1 class="title-large">As Melhores Receitas</h1>
            <h3 class="subtitle-large">
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </h3>
        </div>
        <img class="img-banner" src="/assets/chef-Foodfy.png" alt="Foodfy"/>
    </div>

    <div >
        <h3 class="title-medium center">Mais Acessadas</h3>

        <div class="cards">

            {% for recipe in allData %}
                <a href="#">
                    <section style="background: url({{recipe.avatar_url}}) no-repeat center center; width: 150px; height: 150px"></section>
                    <h4 class="title-small">{{recipe.name}}</h4>
                    <p class="subtitle-small">por
                        {{recipe.chef}}</p>
                </a>

            {% endfor %}
        </div>
    </div>
{% endblock %}