<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="https://" value="{{ recipes.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Nome do Prato</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Prato" value="{{ recipes.name }}">

    </div>
</div>

<div class="item">
    <div>Descrição do Prato</div>
    <div>
        <input type="text" name="description" placeholder="Descrição do prato" value="{{ recipes.description }}">

    </div>
</div>

<div class="item">
    <div>Tempo de Preparo</div>
    <div>
        <input type="text" name="duration" placeholder="Tempo de preparação" value="{{ recipes.duration }}">
    </div>
</div>

<div class="item">
    <div>Preço</div>
    <div>
        <input type="number" name="price" placeholder="Preço" value="{{ recipes.price }}">
    </div>
</div>

<div class="item">
    <div>Chef</div>
    <div>
        <input type="text" name="chef" placeholder="Chef Responsável" value="{{ recipes.chef }}">
    </div>
</div>


<button type="submit">Salvar</button>