{% extends "layout.njk" %}

{% block head %}

    <title>Sobre</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/51523433?s=460&u=b484a77c22f9ff70c975e242ae41fabdce39c780&v=4" alt="Lucas Reis Caputo"/>
        <h1>Lucas Reis Caputo</h1>
        <h2>Desenvolvedor</h2>
        <p>Focado em transformar ideias em produtos</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/LucasCaputo" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/lucascaputo/" target="_blank">LinkedIn</a>
    </div>

{% endblock %}