{% extends "layout.njk" %}

{% block head %}

    <title>Erro na Página</title>
{% endblock %}

{% block content %}

    <div class="not-found">
        <h1>Página não encontrada</h1>
        <p>Desculpe, mas não conseguimos entender</p>
        <img src="https://image.flaticon.com/icons/svg/900/900930.svg" alt="Search">
    </div>

{% endblock %}